<<<<<<< HEAD
.product-details-information-content {
	margin-bottom: $sc-margin-lv3;
	width:910px;
	display:block;
	margin:0 auto;
}
.product-details-information-content p {
	font-size:15px;
}
.product-details-information-content-tabs {
	@extend .content-tabs;
	margin-bottom:0;
}

.product-details-information-tab-content-container {
	height:auto;
}
.product-details-information-tab-content-container ul li {
	font-family: "Avenir LT Std 35 Light" !important;
	font-weight:300 !important;
	list-style-type: disc !important;
	font-size:14px;
	height:21px;
	color:#333;
}
.product-details-information-tab-content-container ul, .product-details-information-tab-content-container ol {
	height:auto;
}
.product-details-information-content .product-tabs > ul li,
.product-details-information-content .product-tabs > ul li a {
	display: block;
	line-height: 28px;
	color: rgb(112, 112, 112);
	font-size: 16px;
	text-decoration: none;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	font-family: "Avenir LT Std 35 Light" !important;
	font-weight:300 !important;
	padding-left:0;
}
.product-description.powered-with-ckeditor p {
	font-family: "Avenir LT Std 35 Light" !important;
	font-weight:300 !important;
}

.product-details-information-content .tabs-body > ul li {
	font-family: "Avenir LT Std 35 Light" !important;
	font-weight:300 !important;
	list-style-type: disc !important;
}
.product-details-information-content .tabs-body p {
	margin-bottom:18px;
}
.product-details-information-content .tabs-body {
	margin-top:18px;
}
.product-details-information-content .tabs-body ul {
	margin-left:41px;
}
.product-details-information-tab-title {
	@extend .content-tabs-title;
}

.product-details-information-tab-content {
	@extend .tab-content;
}

.product-details-information-tab-content-panel {
	@extend .tab-content-panel;
}

.product-details-information-tab-content-panel-title {
	@extend .tab-content-panel-title;
	display:none;
}



.product-details-information-tab-action {
	@extend .tab-action;
}

.product-details-information-tab-action-more{
	@extend .tab-action-more;
	display:none;
	@media (min-width: $screen-sm-min){
      display:block;
  	}
}

.product-details-information-tab-action-less{
	@extend .tab-action-less;
}

.product-details-information-tab-content.show {
	.product-details-information-tab-content-panel {
		max-height: 100%;
	}
	.product-details-information-tab-action-less {
		display: block;
	}
	.product-details-information-tab-action-more {
		display: none;
	}
}
.product-details-information-main-bottom-banner {
	margin-bottom: $sc-margin-lv4;
}

//Pusher button
.product-details-information-pusher {
	@extend .push-button-secondary;
	margin-bottom: $sc-margin-lv3;
	position: relative;
	font-size: $sc-font-size-m;
	display:none;

	i {
		position: absolute;
		right: 15px;
		top: 50%;
		height: 26px;
		margin-top: -12px;
	}
}
.product-details-information-hint {
	margin-top: $sc-margin-lv3;
	color: $sc-color-copy;
	padding-right: $sc-padding-lv3;
	text-overflow: ellipsis;
	overflow: hidden;
}
.product-details-information-pusher {
	@extend .push-button-secondary;
	margin-bottom: $sc-margin-lv3;
	position: relative;
	font-size: $sc-font-size-m;

	i {
		position: absolute;
		right: 15px;
		top: 50%;
		height: 26px;
		margin-top: -12px;
	}
}

[data-action="sc-pushing"].product-details-information-content {
	padding-bottom: $sc-padding-lv2;
}

[data-action="sc-pushing"] .product-details-information-tab-content{
	padding: $sc-padding-lv3 $sc-padding-lv6 $sc-padding-lv6 0;
}

.product-details-information-tab-content-container ol li {
	list-style: decimal;
}
=======
.product-details-information-content {
	margin-bottom: $sc-margin-lv3;
}
.product-details-information-content-tabs {
	@extend .content-tabs;
	margin-bottom:0;
}

.product-details-information-tab-content-container {
	height:400px;
}
.product-details-information-tab-content-container ul li {
	font-family: "Avenir LT Std 35 Light" !important;
	font-weight:300 !important;
	padding-left:40px;
	list-style-type: disc !important;
	font-size:14px;
	height:23px;
}
.product-details-information-tab-content-container ul, .product-details-information-tab-content-container ol {
	height:auto;
}
.product-details-information-content .product-tabs > ul li,
.product-details-information-content .product-tabs > ul li a {
	display: block;
	line-height: 28px;
	color: rgb(112, 112, 112);
	font-size: 16px;
	text-decoration: none;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	font-family: "Avenir LT Std 35 Light" !important;
	font-weight:300 !important;
	padding-left:0;
}
.product-description.powered-with-ckeditor p {
	font-family: "Avenir LT Std 35 Light" !important;
	font-weight:300 !important;
}

.product-details-information-content .tabs-body > ul li {
	font-family: "Avenir LT Std 35 Light" !important;
	font-weight:300 !important;
	list-style-type: disc !important;
}
.product-details-information-content .tabs-body p {
	margin-bottom:20px;
}
.product-details-information-content .tabs-body {
	margin-top:10px;
}
.product-details-information-tab-title {
	@extend .content-tabs-title;
}

.product-details-information-tab-content {
	@extend .tab-content;
}

.product-details-information-tab-content-panel {
	@extend .tab-content-panel;
}

.product-details-information-tab-content-panel-title {
	@extend .tab-content-panel-title;
	display:none;
}



.product-details-information-tab-action {
	@extend .tab-action;
}

.product-details-information-tab-action-more{
	@extend .tab-action-more;
	display:none;
	@media (min-width: $screen-sm-min){
      display:block;
  	}
}

.product-details-information-tab-action-less{
	@extend .tab-action-less;
}

.product-details-information-tab-content.show {
	.product-details-information-tab-content-panel {
		max-height: 100%;
	}
	.product-details-information-tab-action-less {
		display: block;
	}
	.product-details-information-tab-action-more {
		display: none;
	}
}
.product-details-information-main-bottom-banner {
	margin-bottom: $sc-margin-lv4;
}

//Pusher button
.product-details-information-pusher {
	@extend .push-button-secondary;
	margin-bottom: $sc-margin-lv3;
	position: relative;
	font-size: $sc-font-size-m;

	i {
		position: absolute;
		right: 15px;
		top: 50%;
		height: 26px;
		margin-top: -12px;
	}
}
.product-details-information-hint {
	margin-top: $sc-margin-lv3;
	color: $sc-color-copy;
	padding-right: $sc-padding-lv3;
	text-overflow: ellipsis;
	overflow: hidden;
}
.product-details-information-pusher {
	@extend .push-button-secondary;
	margin-bottom: $sc-margin-lv3;
	position: relative;
	font-size: $sc-font-size-m;

	i {
		position: absolute;
		right: 15px;
		top: 50%;
		height: 26px;
		margin-top: -12px;
	}
}

[data-action="sc-pushing"].product-details-information-content {
	padding-bottom: $sc-padding-lv2;
}

[data-action="sc-pushing"] .product-details-information-tab-content{
	padding: $sc-padding-lv3 $sc-padding-lv6 $sc-padding-lv6 0;
}

.product-details-information-tab-content-container ol li {
	list-style: decimal;
}
>>>>>>> origin/new-develop
